{% extends "base.html" %}

{% block content %}

<div class="container">

    <div>
      <h3> 404 - <b>{{ request.path }}</b> not found </h3>

      <p> The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
      <br>
      <iframe src="https://giphy.com/embed/l0G678VPi51ka2bO8E" width="360" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
        <!-- <a href="https://giphy.com/gifs/focusfeatures-brad-pitt-burn-after-reading-focus-features-l0G678VPi51ka2bO8E">via GIPHY</a></p> -->
      
    </div>

</div><!-- /.container -->

{% endblock %}
