{% extends "base.html" %}

{% set active_page = "analysis" %}

{% block content %}

<!DOCTYPE html>
<html lang ="en">
    <body>
        <div id="background" class="container">
            <div class="row">
                <div class="col-12">
                    <div id="header" class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="header">Machine Learning Metrics</h1>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6 col-sm-12">
                                <table border="1">
                                    <tr>
                                        <th>Type:</th>
                                        <td>Random Forest</td>
                                    </tr>
                                    <tr>
                                        <th>Estimators:</th>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <th>Model Score:</th>
                                        <td>.9630</td>
                                    </tr>
                                    <tr>
                                        <th>OOB Score:</th>
                                        <td>.9627</td>
                                    </tr>
                                  </table>
                            </div>
                        </div>                       
                        <div class="row">
                            <div class = "col-lg-6 col-sm-12">
                                    <img src="../static/images/feature_importance.png" alt="Feature Importance" width=400 height=400/>        
                            </div>
                            <div class = "col-lg-6 col-sm-12">
                                    <img src="../static/images/oob_score_vs_estimators.png" alt="OOB Score vs. n_estimators" width=400 height=400/>   
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>

{% endblock %}