{% extends "base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Flight Passenger Satisfaction Analysis</h1>
  <p class="lead">Fill out the survey below to help determine if passengers will be satisfied with thier flight</p>
  
  <form action="/predict" method="POST" class="row g-3">
    
    <div class= "col-md-6">
      <label for="age" class="col-form-label">Age: </label>
      <input type="number" step="1" id="age" name="age">
    </div>

    <div class= "col-md-6">
      <label for="flight_distance" class="col-form-label">Flight Distance: </label>
      <input type="number" step="100" id="flight_distance" name="flight_distance">
    </div>

    <div class= "col-md-6">
      <label for="wifi" class="col-form-label">Inflight wifi service: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="wifi" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="wifi" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="wifi" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="wifi" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="wifi" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="wifi" name="wifi"> -->
     </div>

     <div class= "col-md-6">
      <label for="time_convenient" class="col-form-label">Departure/Arrival Time Convenient: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="time_convenient" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="time_convenient" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="time_convenient" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="time_convenient" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="time_convenient" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="time_convenient" name="time_convenient"> -->
     </div>

     <div class= "col-md-6">
      <label for="online_booking" class="col-form-label">Online Booking: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_booking" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_booking" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_booking" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_booking" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_booking" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="online_booking" name="online_booking"> -->
     </div>

     <div class= "col-md-6">
      <label for="gate_location" class="col-form-label">Gate Location: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gate_location" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gate_location" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gate_location" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gate_location" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gate_location" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="gate_location" name="gate_location"> -->
     </div>

     <div class= "col-md-6">
      <label for="food_drink">Food and Drink: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="food_drink" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="food_drink" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="food_drink" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="food_drink" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="food_drink" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="food_drink" name="food_drink"> -->
     </div>

     <div class= "col-md-6">
      <label for="online_boarding">Online Boarding: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_boarding" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_boarding" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_boarding" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_boarding" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="online_boarding" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="online_boarding" name="online_boarding"> -->
     </div>

     <div class= "col-md-6">
      <label for="seat_comfort">Seat Comfort: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="seat_comfort" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="seat_comfort" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="seat_comfort" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="seat_comfort" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="seat_comfort" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="seat_comfort" name="seat_comfort"> -->
     </div>

     <div class= "col-md-6">
      <label for="inflight_entertainment">Inflight Entertainment: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_entertainment" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_entertainment" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_entertainment" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_entertainment" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_entertainment" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="inflight_entertainment" name="inflight_entertainment"> -->
     </div>

     <div class= "col-md-6">
      <label for="on-board_service">On-Board Service: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="board_service" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="board_service" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="board_service" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="board_service" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="board_service" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="on-board_service" name="on-board_service"> -->
     </div>

     <div class= "col-md-6">
      <label for="leg_room">Leg Room: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="leg_room" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="leg_room" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="leg_room" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="leg_room" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="leg_room" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="leg_room" name="leg_room"> -->
     </div>

     <div class= "col-md-6">
      <label for="baggage_handling">Baggage Handling: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="baggage_handling" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="baggage_handling" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="baggage_handling" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="baggage_handling" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="baggage_handling" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="baggage_handling" name="baggage_handling"> -->
     </div>

     <div class= "col-md-6">
      <label for="checkin_service">Checkin Service: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="checkin_service" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="checkin_service" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="checkin_service" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="checkin_service" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="checkin_service" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="checkin_service" name="checkin_service"> -->
     </div>

     <div class= "col-md-6">
      <label for="inflight_service">Inflight Service: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_service" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_service" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_service" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_service" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inflight_service" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- 
        <input type="number" step="1" id="inflight_service" name="inflight_service"> -->
     </div>

     <div class= "col-md-6">
      <label for="cleanliness">Cleanliness: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cleanliness" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cleanliness" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cleanliness" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cleanliness" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="cleanliness" id="inlineRadio5" value="5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
      <!-- <input type="number" step="1" id="cleanliness" name="cleanliness"> -->
     </div>

     <div class= "col-md-6">
      <label for="departure_delay">Departure Delay (min): </label>
        <input type="number" step="1" id="departure_delay" name="departure_delay">
     </div>
      
     <div class= "col-md-6">
      <label for="arrival_delay">Arrival Delay (min): </label>
        <input type="number" step="1" id="arrival_delay" name="arrival_delay">
     </div>

     <div class= "col-md-6">
      <label for="gender">Gender: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="Female" value="0">
          <label class="form-check-label" for="Female">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="Male" value="1">
          <label class="form-check-label" for="Male">Male</label>
        </div>
      <!-- <input type="number" step="1" id="gender_female" name="gender_female"> -->
     </div>

     <div class= "col-md-6">
      <label for="customer_type">Customer Type: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="customer_type" id="Loyal_Customer" value="1">
          <label class="form-check-label" for="Loyal_Customer">Loyal Customer</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="customer_type" id="Disloyal_Customer" value="0">
          <label class="form-check-label" for="Disloyal_Customer">Disloyal Customer</label>
        </div>
      <!-- <input type="number" step="1" id="loyal_customer" name="loyal_customer"> -->
     </div>

     <div class= "col-md-6">
      <label for="travel_type">Travel Type: </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="travel_type" id="Personal" value="0">
          <label class="form-check-label" for="Personal">Personal</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="travel_type" id="Bisuness" value="1">
          <label class="form-check-label" for="Business">Business</label>
        </div>
      <!-- <input type="number" step="1" id="business_travel" name="business_travel"> -->
     </div>

     <div class= "col-md-6">
      <label for="class">Class: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="class" id="Economy_Plus" value="0">
        <label class="form-check-label" for="Economy_Plus">Economy Plus</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="class" id="Economy" value="1">
        <label class="form-check-label" for="Economy">Economy</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="class" id="Business" value="2">
        <label class="form-check-label" for="Business">Business</label>
      </div>
      <!-- <input type="number" step="1" id="class_business" name="class_business"> -->
     </div>


      <input type="submit" value="Submit">
    </div>
  </form>

    <p>{{prediction}}</p>


</div>

{% endblock %}

<link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}" />