<html>
<body>
    <h3>Airline Satisfaction Predictor</h3>
<div>
  <form action="/predict" method="POST">
    <label for="online_boarding">Online Boarding</label>
    <input type="number" step="1" id="online_boarding" name="online_boarding">
    <br>
    <label for="wifi">Inflight wifi service</label>
    <input type="number" step="1" id="wifi" name="wifi">
    <br>
    <label for="class_business">Business Class</label>
    <input type="number" step="1" id="class_business" name="class_business">
    <br>
    <label for="personal_travel">Personal Travel</label>
    <input type="number" step="1" id="personal_travel" name="personal_travel">
    <br>
    <label for="business_travel">Business Travel</label>
    <input type="number" step="1" id="business_travel" name="business_travel">
    <br>
    <label for="inflight_entertainment">Inflight Entertainment</label>
    <input type="number" step="1" id="inflight_entertainment" name="inflight_entertainment">
    <br>
    <label for="seat_comfort">Seat Comfort</label>
    <input type="number" step="1" id="seat_comfort" name="seat_comfort">
    <br>
    <label for="class_eco">Economy Class</label>
    <input type="number" step="1" id="class_eco" name="class_eco">
    <br>
    <label for="online_booking">Online Booking</label>
    <input type="number" step="1" id="online_booking" name="online_booking">
    <br>
    <label for="leg_room">Leg Room</label>
    <input type="number" step="1" id="leg_room" name="leg_room">
    <br>
    <label for="flight_distance">Flight Distance</label>
    <input type="number" step="100" id="flight_distance" name="flight_distance">
    <br>
    <label for="disloyal_customer">Disloyal Customer</label>
    <input type="number" step="1" id="disloyal_customer" name="disloyal_customer">
    <br>
    <label for="age">Age</label>
    <input type="number" step="1" id="age" name="age">
    <br>
    <label for="on-board_service">On-Board Service</label>
    <input type="number" step="1" id="on-board_service" name="on-board_service">
    <br>
    <label for="baggage_handling">Baggage Handling</label>
    <input type="number" step="1" id="baggage_handling" name="baggage_handling">
    <br>
    <label for="checkin_service">Checkin Service</label>
    <input type="number" step="1" id="checkin_service" name="checkin_service">
    <br>
    <label for="inflight_entertainment">Inflight Entertainment</label>
    <input type="number" step="1" id="inflight_entertainment" name="inflight_entertainment">
    <br>
    <label for="loyal_customer">Loyal Customer</label>
    <input type="number" step="1" id="loyal_customer" name="loyal_customer">
    <br>
    <label for="cleanliness">Cleanliness</label>
    <input type="number" step="1" id="cleanliness" name="cleanliness">
    <br>
    <label for="inflight_service">Inflight Service</label>
    <input type="number" step="1" id="inflight_service" name="inflight_service">
    <br>
    <label for="gate_location">Gate Location</label>
    <input type="number" step="1" id="gate_location" name="gate_location">
    <br>
    <label for="time_convenient">Departure/Arrival Time Convenient</label>
    <input type="number" step="1" id="time_convenient" name="time_convenient">
    <br>
    <label for="arrival_delay">Arrival Delay (min)</label>
    <input type="number" step="1" id="arrival_delay" name="arrival_delay">
    <br>
    <label for="departure_delay">Departure Delay (min)</label>
    <input type="number" step="1" id="departure_delay" name="departure_delay">
    <br>
    <label for="food_drink">Food and Drink</label>
    <input type="number" step="1" id="food_drink" name="food_drink">
    <br>
    <label for="gender_male">Male</label>
    <input type="number" step="1" id="gender_male" name="gender_male">
    <br>
    <label for="gender_female">Female</label>
    <input type="number" step="1" id="gender_female" name="gender_female">
    <br>
    <label for="class_ecoplus">Economy Class Plus</label>
    <input type="number" step="1" id="class_ecoplus" name="class_ecoplus">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>